body {
  margin: 0;
}

.progressbar {
  position: absolute;
  top: 0;
}

.slide-show-spinner {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.slide-show-spinner .spinner {
  height: 90px;
  width: 90px;
}
