body {
  margin: 0;
}

.progressbar {
  position: absolute;
  top: 0;
}

.slide-show__spinner {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.slide-show__spinner .spinner {
  height: 90px;
  width: 90px;
}

.slide-show__image {
  height: 100vh;
  object-fit: cover;
  width: 100vw;
}
