body {
  margin: 0;
  font-family: sans-serif;
}

.front-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.galleries {
  display: flex;
  flex-wrap: wrap;
}

.gallery-head-spinner {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 350px;
  width: 20%;
}

.gallery-head-spinner .spinner {
  height: 90px;
  width: 90px;
}

.footer {
  margin: 20px 0;
  text-align: center;
}
