body {
  margin: 0;
  font-family: sans-serif;
}

.front-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.galleries {
  display: flex;
  flex-wrap: wrap;
}

.gallery-head {
  width: 100%;
}

.gallery-head-spinner {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 189px;
  width: 100%;
}

.gallery-head-spinner .spinner {
  height: 90px;
  width: 90px;
}

@media (min-width: 640px) {
  .gallery-head {
    width: 50%;
  }

  .gallery-head-spinner{
    width: 50%;
  }
}

@media (min-width: 960px) {
  .gallery-head {
    width: 20%;
  }

  .gallery-head-spinner{
    width: 20%;
  }
}
