body {
  margin: 0;
  font-family: sans-serif;
}

.front-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.galleries {
  display: flex;
  flex-wrap: wrap;
}

.gallery-head {
  width: 50%;
}

.gallery-head-spinner {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 350px;
  width: 20%;
}

.gallery-head-spinner .spinner {
  height: 90px;
  width: 90px;
}

.footer {
  font-size: 12px;
  background-color: #f2f0f3;
  color: #7f7d7f;
  padding: 10px 0;
  text-align: center;
}

.footer__title {
  line-height: 18px;
}

.footer__link {
  color: #7f7d7f;
  padding-bottom: 5px;
}

@media (min-width: 640px) {
  .gallery-head {
    width: 25%;
  }
}

@media (min-width: 960px) {
  .gallery-head {
    width: 20%;
  }
}
